div {
    max-width: 1200px;
    height: 1600px;
    margin: 18px;
    padding: 15px;
    background: linear-gradient(90deg,#dd22b5 6%,#FFA500 25%,#F14444 45%,#D53567 55%,#dbcd0a 94%);
    border-radius: 30px;
    border: 4px solid rgb(247, 165, 179);
}
h1 {
    color: #D53567;
    background-color: pink;
    border: 3px solid red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 8px;
    text-align: center;

    font-family: Arial;
    
    font-size: 40px;
    padding: 20px 30px;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    text-transform: uppercase;
}
.one {
    max-width: 990%;
    height: 820px;
    padding: 5px;
    background-color: gray;
}
img {
    width: 750px;
    height: 800px;
    padding: 5px 50px;
    border: 4px solid rgba(116, 73, 73, 0.027);
}
.one:hover {
    max-width: 100%;
    height: 820px;
    padding: 5px;
    background-color: rgb(238, 200, 200);
}
p {
    font-size: 30px;
    color: blue;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    letter-spacing: 3px;
    word-spacing: 7px;
}
p:hover {
    font-size: 30px;
    color: blue;
    background-color: rgb(199, 145, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    letter-spacing: 3px;
    word-spacing: 7px;
}
h2 {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    color: rgb(67, 9, 121);
}
body {
    background: linear-gradient(90deg,#FFFF00 6%,#FFA500 25%,#F14444 45%,#D53567 55%,#9A109A 94%);
   display: flex;
   align-items: center;
   justify-content: center;
}